.image{
	width: 100%;
	height: auto;
}

#gia {
	margin: 0px;
}

#tinhtien{
	border: 3px solid rgb(210,210,210);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#thanhtoan{
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	background-color: green;
}

@media screen and (min-width: 475px){
	.image{
		width: 50%;
		height: auto;
		margin: 10px;
	}
}